<%= form_tag 'notifications/create', method: :post do %>
  <fieldset class="inputs">
    <legend><span>Details</span></legend>
    <ol>
      
        <li>
          <%= label_tag "Message" %>
          <%= text_field_tag "message"%>
        </li>
      
    </ol>
  </fieldset>
  <%= submit_tag "Send" %>
<% end %>