<%= form_tag 'settings/update', method: :post do %>
  <fieldset class="inputs">
    <legend><span>Details</span></legend>
    <ol>
      <% Rss.all.each do |key, value| %>
        <li>
          <%= label_tag key %>
          <%= text_field_tag "settings[#{key}]", value %>
        </li>
      <% end %>
    </ol>
  </fieldset>
  <%= submit_tag "Update" %>
<% end %>